api/portal/agendas/agenda-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://roadrunners.run/schemas/agenda/v1"
           xmlns="https://roadrunners.run/schemas/agenda/v1"
           elementFormDefault="qualified">
  <xs:element name="rrAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="xs:anyType"/>
        <xs:element name="events">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="event" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="total" type="xs:nonNegativeInteger" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="generatedAt" type="xs:string" use="required"/>
      <xs:attribute name="view" use="required">
        <xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="futuros"/><xs:enumeration value="resultados"/></xs:restriction></xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
